/* Home */
a {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

a:hover {
    color: lightgreen;
}

.about {
    font-size: 14px;
    margin: 0;
    font-weight: 100;
}

.container {
    text-align: left;
    border: 2px solid white;
    padding: 25px;
    margin-bottom: 12px;
}

.divider {
    width: 50px;
    display: inline-block;
}

.home {
    margin-top: 5px;
    padding: 0 6%;
}

.listHeader {
    text-decoration: underline;
}

.links {
    text-align: center;
}

.photo {
    height: 200px;
    width: 200px;
}

.photoContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.skills {
    margin-bottom: 0;
    font-size: 14px;
}

.title {
    text-align: center;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 20px;
}

@media screen and (min-width: 450px) {
    .home {
        padding: 0 12%;
    }
    .title {
        font-size: 32px;
    }
    .about {
        font-size: 16px;
    }
    a {
        font-size: 16px;
    }
    .skills {
        font-size: 16px;
    }
}

@media screen and (min-width: 580px) {
    .title {
        font-size: 50px;
    }
    .about {
        font-size: 20px;
    }
    a {
        font-size: 20px;
    }
    .skills {
        font-size: 20px;
    }
}