/* Projects */
/* * {
    border: 1px solid black;
} */

.calculator {
    padding: 0 20px 20px 20px;
}

.content {
    text-align: left;
    margin: 5%;
    font-size: 12px;
}

.description {
    text-align: center;
}

.descriptionContainer {
    margin-bottom: 20px;
    border: 2px solid white;
}

.divider {
    height: 20px;
}

.header {
    text-align: center;
    margin-top: 5px;
    font-size: 28px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.projectContainer {
    width: 85%;
    margin: auto;
}

.projects {
    margin-top: 5px;
    margin-bottom: 50px;
}

.screenshot {
    margin-bottom: 15px;
}

.screenshot:hover {
    filter: brightness(70%);
}

.subheader {
    font-size: 18px;
    text-decoration: underline;
}

.technologiesHeader {
    text-decoration: underline;
}

@media screen and (min-width: 450px) {
    .header {
        font-size: 32px;
    }
    .subheader {
        font-size: 22px;
    }
}

@media screen and (min-width: 580px) {
    .header {
        font-size: 50px;
    }
    .subheader {
        font-size: 32px;
    }
}

@media screen and (min-width: 650px) {
    .projectContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .screenshotContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-right: 5%;
        width: 43%;
    }
    .descriptionContainer {
        width: 43%;
        display: inline-block;
        margin-left: 5%;
        margin-bottom: 0px;
    }
    .screenshot {
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 750px) {
    .content {
        font-size: 14px;
    }
}

@media screen and (min-width: 900px) {
    .content {
        font-size: 16px;
    }
}

@media screen and (min-width: 1100px) {
    .content {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .content {
        font-size: 21px;
    }
}