/* App */

.navBar {
    
}

.buttons {
    text-align: left;
    float: left;
}

.logos {
    text-align: right;
    float: right;
}

.logoImages {

}

.body {
    
}

.website {
    font-family: Arial, Helvetica, sans-serif;
}